@font-face {
    font-family:"Brandon Printed One";    
    src: url("../font/brandonprinted-one.otf");
	
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;    
}
.border {
    width: 608px;
    margin: 0 auto;
    border: 1px solid #d8d9d2;
    box-shadow:
       0 0 0 2px #e2e4dc,
       0 0 0 3px #e8eae3,
       0 0 0 4px #edefe7;
}
.container {
    width: 608px;
    margin: 0 auto;
}
.main_header {
    background-color: #f0f2ea;
}
.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}
.logotype {
    margin: 0 auto;
    width: 414px;
    padding-bottom: 80px;
}
.line {
    width: 120px;
    border-bottom: 2px solid #d8d9d2;
    display: inline-block;  
    position: relative;
    top: 78px;  
}
.logo {
    width: 100px;
    height: 100px;
    background-color: #616b48;
    background-image: url(../img/base.png);
    background-repeat: no-repeat;
    background-position: center;    
    display: inline-block;
    margin: 0 32px;
    position: relative;
    top: 40px;
    border-radius: 50%;
    text-align: center;
    color: #f0f2ea;
}
.logo span:first-child {
    position: relative;
    top: 40px;
    right: 15px;    
}
.logo span:nth-child(2) {
    position: relative;
    top: 12px;
}
.logo span:last-child  {
    position: relative;
    top: 40px;
    left: 15px;
}
.header_title {
    font-size: 14px;   
    color: #636758;    
    text-transform: uppercase;
    line-height: 1.286;
    text-align: center; 
    padding-bottom: 45px;
    letter-spacing: 1px;      
}
.main {
    background-color: #f0f2ea;
    padding-bottom: 4px;
}
.main_title {
    background-image: url(../img/Layer.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;   
    padding-top: 140px;
    padding-bottom: 160px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.main_title h1 {
    font-family: "Brandon Printed One", Arial, sans-serif;
    font-size: 36px;    
    line-height: 0.5; 
    letter-spacing: 5px;     
}
.main_title hr {
    width: 100px;
    height: 1px;
}
.main_title p {    
    font-size: 14px;
    font-family: "Arial";
    line-height: 1.286; 
    letter-spacing: 2px;       
}
.articles {
    background-color: #fff;
    padding-top: 50px;
}
.articles h2 { 
    margin: 0;
    margin-bottom: 50px;   
    font-size: 24px;        
    color: #484a43;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0.75;
    text-align: center;             
}
.articles_item {
    width: 256px;  
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
}
.title {
    color: #6d7e44;    
    font-size: 14px;        
    font-weight: 700;
    line-height: 1.571;
    text-align: left;        
}
.text {
   font-family: "Brandon Printed One", Arial, sans-serif;
    font-size: 24px;    
    color: #ffffff;
    text-transform: uppercase;
    line-height: 0.75;
    text-align: center; 
}
.paragraph {
    margin: 0;
    font-size: 12px;        
    color: #333333;
    line-height: 1.5;   
}
.imege_one {
    background-image: url(../img/img.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;      
    padding: 66px 0;    
}
.imege_two {
    background-image: url(../img/img2.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;   
    padding: 66px 0; 
}
.popular {
    background-color: #fff;
    padding: 30px 30px 0 30px;       
}
.imege_three {
    background-image: url(../img/bridge.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;   
    padding: 102px 0;
}
.popular .paragraph {
    padding-bottom: 30px;
    border-bottom: 2px solid #e5e5e5; 
}
.social {
    background-color: #fff;
    padding-top: 38px;    
}
.social h4 {  
    margin: 0;  
    font-size: 14px;        
    color: #333;
    font-weight: bold;
    line-height: 1.571;        
}
.social_item {
    background-color: #fff;
    padding: 0 30px 40px 30px;    
}
.social_item:first-child {
    float: left;
    width: 292px;
}
.social_item:last-child {
    float: right;
    width: 110px;
}
.social_item a {
    color: #6d7e44;
    text-decoration: none;
    font-weight: 700;
}
.social_item ul {
    margin: 0;
    padding: 0;
}
.social_item li {
    position: relative;   
    display: inline-block;
    list-style-type: none;
}
.social_item li a {
    width: 24px;
    height: 24px;
    display: block;
    background-color: #3b5998;
    background-image: url(../img/f.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
.social_item li:nth-child(2) a {
    background-color: #26a6d1;
    background-image: url(../img/bird.png);
}
.social_item li:nth-child(3) a {
    background-color: #34526f;
    background-image: url(../img/t.png);
}
.social_item li:last-child a {
    background-color: #f4b459;
    background-image: url(../img/icon.png);
}
.social_item p {
    font-size: 12px;
    margin: 10px 0;
}
.footer {
    background-color: #f0f2ea; 
}
.copyright {   
    margin: 0;
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 11px;        
    color: #333;
    line-height: 1.636;
    text-align: center;          
}
.copyright a {
    color: #333;        
}


